.something{
    background-color: chartreuse;
}

.something:hover::after{
    opacity: 0.5;
    content: " dadada";
}

.something::before{
    content: "rararar ";
}

.somethig1{
    animation: tryout 2s linear infinite;
    transition: .3s ease-in-out;;
}

@keyframes tryout {
    0% {background-color: aqua;}
    50% {background-color: black;}
    100% {background-color: yellow;}
}